﻿@model IEnumerable<CustomModels.Collection.LeaveRuleViewModel>
    @using CustomModels.Collection;

@if (Model.Count() > 0)
{
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                            <tr>
                                <th>
                                    Employee Type
                                </th>
                                <th>
                                    Leave Type
                                </th>
                                <th>
                                    Rule
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            @Html.DisplayFor(modelItem => item.EmployeeType)
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @Html.DisplayFor(modelItem => item.Rule.Name)
                                        </div>
                                    </td>
                                    @Html.HiddenFor(m=> item.Id)
                                    <td>
                                        <div>
                                            @*<input class="btn btn-secondary btn-sm" type="button" name="edit-button" attr-id="@item.Id" id="edit-button" value="Edit" />*@
                                            <input class="btn btn-secondary btn-sm" type="button" name="delete-button" attr-id="@item.Id" id="delete-button" value="Delete" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
}
else
{
    <h3>No Rules yet assigned.</h3>
}

    <script>
    $(function () {
        $("body").off("click", "#edit-button")
        $("body").on("click", "#edit-button", function () {
            var id = $(this).attr("attr-id");
            $.ajax({
                url: "@Url.Action("GetAssignedRuleEditPartial", "Leave")",
                data: { id: id },
                success: function (res) {
                    if (res != null) {
                        res.Action = "Edit";
                        $("#assign-leave-rule-partial").load("@Url.Action("AssignRulesPartial", "Leave")", { model: res });
                    }
                }
            });
        });

        $("body").off("click", "#delete-button")
        $("body").on("click", "#delete-button", function () {
            var data = {
                Id: $(this).attr("attr-id"),
                IsDeleted: true
            }
            $.ajax({
                url: "@Url.Action("EditAssignedRule", "Leave")",
                type: "POST",
                data: { model: data },
                success: function (res) {
                    if (res) {
                        $("#assigned-rules").load("@Url.Action("AllAssignedRulesPartial", "Leave")");
                        $("#").load("@Url.Action("AssignRulesPartial", "Leave")", { Action: "Create" })
                    }
                }

            });
        });

    });
    </script>