﻿@model IEnumerable<CustomModels.Collection.LeaveRulesDetailViewModel>
@using AttendanceSystem.Extension_Methods;

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LeaveType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Duration)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RuleType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operators)
                            </th>
                            <th>
                                <b>Actions</b>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Value)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.LeaveType)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.RuleType)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @item.Operators.GetDisplayName()
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input class="btn btn-secondary btn-sm" type="button" name="edit-button" attr-id="@item.Id" id="edit-button" value="Edit" />
                                        <input class="btn btn-secondary btn-sm" type="button" name="delete-button" attr-id="@item.Id" id="delete-button" value="Delete" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>


</div>

<script>
    $(function () {
        $("body").off("click", "#edit-button")
        $("body").on("click", "#edit-button", function () {
            var id = $(this).attr("attr-id");
            $.ajax({
                url: "@Url.Action("GetLeaveRuleDetail", "Leave")",
                data: { id: id },
                success: function (res) {
                    if (res != null) {
                        $("#create-leave-rule-partial").load("@Url.Action("CreateRuleDetailPartial","Leave")", { model: res });
                        $('html, body').animate({
                            scrollTop: ($('#create-leave-rule-partial').offset().top)
                        }, 500);
                }
                }
            });
        });

        $("body").off("click", "#delete-button")
        $("body").on("click", "#delete-button", function () {
            var data = {
                Id: $(this).attr("attr-id"),
                IsDeleted: true
            }
            $.ajax({
                url: "@Url.Action("DeleteRuleDetail", "Leave")",
                type: "POST",
                data: { model: data },
                success: function (res) {
                    if (res) {
                        $("#leave-rules").load("@Url.Action("AllLeaveRulesDetailPartial", "Leave")");
                        $('html, body').animate({
                            scrollTop: ($('#create-leave-rule-partial').offset().top)
                        }, 500);
                    }
                }

            });
        });

    });
</script>