﻿@model CustomModels.Collection.LeaveRuleViewModel

@{
    var action = Model.Action == "Create" ? "AssignRule" : "EditAssignedRule";
}

@using (Html.BeginForm(action, "Leave", FormMethod.Post, htmlAttributes: new { @class = "card", id = "assign-rule-form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 row">
        <div class="form-horizontal col-md-12">
            <h4 class=" pl-5 pt-5">@Model.Action Rule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12 row">

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Employee Type</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.EmployeeType, "---Select User---", new { @class = "form-control", id = "user-type" })
                        @Html.ValidationMessageFor(model => model.EmployeeType, "", new { @class = "text-danger", placeholder = "No. of leaves associated with rule" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Leave Type</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.Type, "---Select Leave---", new { @class = "form-control", id = "leave-type" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Rule</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(n => n.Rule.Id, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "rule", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-10">
                        <input type="button" value="@Model.Action" id="submit-rule-assignment" class="btn btn-default float-right" />
                    </div>
                </div>

            </div>


        </div>

    </div>


}

<script src="~/Scripts/CustomScripts/select2.methods.js"></script>   
<script>

        $(function () {
            InitializeSelect2();
        $("body").off("change", "#user-type")
            $("body").on("change", "#user-type", function () {
                $("#rule").val("");
                $("#rule").html("");
                InitializeSelect2();
            });

        $("body").off("change", "#leave-type")
            $("body").on("change", "#leave-type", function () {
                $("#rule").val("");
                $("#rule").html("");
                InitializeSelect2();
            });
        });


        function InitializeSelect2(){
                    var pageSize = 20;
            var optionListUrl = '@Url.Action("Rules", "Leave")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically


            var id = "#rule";
            var url = "@Url.Action("Rules", "Leave")";
            var leaveType = $("#leave-type").val();
            var userType = $("#user-type").val();
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    userType: userType,
                    leaveType: leaveType
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)
        }
</script>