﻿@model CustomModels.Collection.LeaveRuleViewModel

@{
    ViewBag.Title = "AssignRules";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}



<h2>Assign Rules</h2>

<div id="assign-leave-rule-partial">
    @Html.Action("AssignRulesPartial", "Leave", new { Action = "Create"})
</div>

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <h4 class=" pl-5 pt-5">Leaves Rules</h4>
            <hr />
            <div class="col-md-12" id="assigned-rules">
                @Html.Action("AllAssignedRulesPartial", "Leave")
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("body").on("click", "#submit-rule-assignment", function () {
        var form = $("#assign-rule-form").serialize();
        var url = $("#assign-rule-form").attr("action");
        $.ajax({
            url: url,
            data: form,
            type: "POST",
            success: function (res) {
                if (res)
                    $("#assign-leave-rule-partial").load("@Url.Action("AssignRulesPartial", "Leave")", { Action: "Create" });
                  $("#assigned-rules").load("@Url.Action("AllAssignedRulesPartial", "Leave")");
            }
        });
    });
</script>
