﻿@model CustomModels.Collection.LeaveViewModel
@using AttendanceSystem.Models;
@using EnumLibrary;
@using AttendanceSystem.Extension_Methods;
@using CustomModels.ReportModels;
@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Create";
    var modelCheck = Model;
    var companyId = Singleton.Instance.CompanyId;
    var branch = ViewBag.Branch != null ? new List<SelectListItem> { ViewBag.Branch } : new List<SelectListItem>();
    var department = ViewBag.Department != null ? new List<SelectListItem> { ViewBag.Department } : new List<SelectListItem>();
    var employee = ViewBag.Employee != null ? new List<SelectListItem> { ViewBag.Employee } : new List<SelectListItem>();
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Leave", FormMethod.Post, htmlAttributes: new { @class = "card", @enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 row">

        <div class="form-horizontal col-md-9">
            <h4 class=" pl-5 pt-5">Leave</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12 row">

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-6">Branch</label>
                    <div class="col-md-8">
                        @*<input type="text" name="branchName" placeholder="Branch" id="branch" branch-value="" class="form-control" />*@
                        @Html.DropDownListFor(n => n.BranchId, branch, "---Select---", new { @id = "branch", @class = "form-control" })

                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-6">Department</label>
                    <div class="col-md-8">
                        @*<input type="text" name="departmentName" placeholder="Department" id="department" department-value="" class="form-control" />*@
                        @Html.DropDownListFor(n => n.DepartmentId, department, "---Select---", new { @id = "department", @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-6">Employee</label>
                    <div class="col-md-8">
                        @*<input type="text" name="employee" employee-value="" placeholder="Employee" id="employee" class="form-control" />*@
                        @Html.DropDownListFor(n => n.UserId, employee, "---Select---", new { @id = "employee", @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-6">Schedule</label>
                    <div class="col-md-8">
                        <select name="partTime" id="partTime" class="form-control">
                            <option value="0" selected>Permanant</option>
                            <option value="1">Part Time</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(
                                model => model.Type,
                                (LeaveType) => { return LeaveType != EnumLibrary.LeaveType.Any; },
                                "---Select Leave Type---",
                                new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-md-6">Attachment</label>
                    <div class="col-sm-12">
                        <div class="col-md-6 row">
                            <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px; max-height: 120px;">
                            <div class="fileinput fileinput-new input-group col-md-5" data-provides="fileinput">
                                <div data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                    <input type="file" name="Image" id="Image" onchange="ProcessImage(this)">
                                </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = ""; document.getElementById("image-thumbnail").src = "";' data-dismiss="fileinput">Remove</a>
                            </div>
                            @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Note, new { @class = "control-label col-md-6" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Create" class="btn btn-default float-right" />
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 mt-9">
            <div class="col-md-12 row" id="detail-sidebar">

            </div>

        </div>


    </div>



}

<div>
    @Html.ActionLink("Back to List", "ViewLeave")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/CustomScripts/select2.methods.js"></script>
<script src="~/Scripts/CustomScripts/CustomErrorMessageDisplay.js"></script>
<script>
        $(function () {
            InitializeSelect2();
            if ($("#employee").val() != "")
            {
                $("#detail-sidebar").load("@Url.Action("GetLeaveDetailForLeaveCreation","Leave")", { employeeId: $("#employee").val() });
            }
            $("body").on("change", "#employee", function () {
                $("#detail-sidebar").load("@Url.Action("GetLeaveDetailForLeaveCreation","Leave")", { employeeId: $("#employee").val() });
            });
        });

        //
        //Functions

    function ProcessImage(element) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(element).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $(element).val("");
            DisplayErrorMessage("Image", "Allowed formats are: " + fileExtension.join(', '));
        }
        else {
            ShowImage(element);
            RemoveErrorMessage("Image");
        }
    }

        function ShowImage(input) {


            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-thumbnail').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
            //var thumbnail = $("#Image").val();
            //$("#image-thumbnail").attr("src", thumbnail);

    }

        function InitializeSelect2() {
            var pageSize = 20;
            var companyId = "@companyId";
            var optionListUrl = '@Url.Action("Company", "Report")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically


            var id = "#branch";
            var url = "@Url.Action("Branch", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    company: companyId
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#department";
            var url = "@Url.Action("Department", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    branch: $("#branch").val()
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#employee";
            var url = "@Url.Action("Employee", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    department: $("#department").val(),

                }

            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)

        }

</script>
