﻿@model CustomModels.Collection.LeaveRulesDetailViewModel
@{ 
    var action = Model.Action == "Create" ? "CreateRuleDetail" : "EditRuleDetail";
}

@using (Html.BeginForm(action, "Leave", FormMethod.Post, htmlAttributes: new { @class = "card", id = "create-rule-form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 row">
        <div class="form-horizontal col-md-12">
            <h4 class=" pl-5 pt-5">@Model.Action Rule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12 row">

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Leave type</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.LeaveType, "---Select Leave---", new { @class = "form-control", id = "leave-type" })
                        @Html.ValidationMessageFor(model => model.LeaveType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Value</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(n => n.Value, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger", placeholder = "Value of rule" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Value type</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.ValueType, "---Select Value Type---", new { @class = "form-control", id = "value-type" })
                        @Html.ValidationMessageFor(model => model.ValueType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Operator</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.Operators, "---Select Operator---", new { @class = "form-control", id = "operator-type" })
                        @Html.ValidationMessageFor(model => model.Operators, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Number of days</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.Duration, "--Select Duration--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Rule Type</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(n => n.RuleType, "--Select Duration--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RuleType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <label class="label-left control-label col-md-8">Description</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(n => n.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", placeholder = "No. of leaves associated with rule" })
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <label class="label-left control-label col-md-8">Error Message</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(n => n.ErrorMessage, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ErrorMessage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label class="label-left control-label col-md-8">Weekends Included</label>
                    <div class="col-md-8">
                        @Html.EditorFor(n => n.IncludeHolidays)
                        @Html.ValidationMessageFor(model => model.IncludeHolidays, "", new { @class = "text-danger", placeholder = "No. of leaves associated with rule" })
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label col-md-8">Consecutive</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.IsConsecutive)
                        @Html.ValidationMessageFor(model => model.IsConsecutive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label class = "control-label col-md-8">Carried on</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.IsCarriedOn)
                        @Html.ValidationMessageFor(model => model.IsCarriedOn, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(m => m.Id)
                <div class="form-group col-md-12">
                    <div class="col-md-10">
                        <input type="button" value="@Model.Action" id="submit-rule-detail" class="btn btn-default float-right" />
                    </div>
                </div>

            </div>


        </div>

    </div>


}

