﻿@model CustomModels.Collection.LeaveRulesDetailViewModel
@using CustomModels.Collection;

@{
    ViewBag.Title = "CreateRulePartial";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}


<h2>Leave Rules</h2>

<div id="create-leave-rule-partial">
    @Html.Action("CreateRuleDetailPartial", "Leave", new { model = new LeaveRulesDetailViewModel() })
</div>

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <h4 class=" pl-5 pt-5">Leaves Rules</h4>
            <hr />
            <div class="col-md-12" id="leave-rules">
                @Html.Action("AllLeaveRulesDetailPartial", "Leave")
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("body").on("click", "#submit-rule-detail", function () {
        var form = $("#create-rule-form").serialize();
        var url = $("#create-rule-form").attr("action");
        $.ajax({
            url: url,
            data: form,
            type: "POST",
            success: function (res) {
                if (res)
                    $("#create-leave-rule-partial").load("@Url.Action("CreateRuleDetailPartial", "Leave")");
                  $("#leave-rules").load("@Url.Action("AllLeaveRulesDetailPartial", "Leave")");
                  $('html, body').animate({
                      scrollTop: ($('#leave-rules').offset().top)
            },500);
            }
        });
    });
</script>
