﻿@model CustomModels.Collection.LeaveViewModel

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Leave", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class=" pl-5 pt-5">Leave</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row col-md-12">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.DaysCount)
            @Html.HiddenFor(m => m.Type)
            @Html.HiddenFor(m => m.User.Id)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(model => model.DepartmentId)
            @Html.HiddenFor(model => model.EditedLeaveDayCount)

            <div class="form-group col-md-12">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-default float-right" />
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
