﻿@model CustomModels.Collection.LeaveDetailViewModel
    @using EnumLibrary;


<h4>Leaves Remaining: </h4>

<div class="row col-md-12 ">
    @if (Model.LeaveTypeDetailList.Count() > 0)
    {
        for (var i = 0; i < Model.LeaveTypeDetailList.Count() && Model.LeaveTypeDetailList[i].Type != LeaveType.Any; i++)
        {
            <div class="form-group col-md-12 row pr-0">
                    <label><b>@Model.LeaveTypeDetailList[i].Type:</b> @Model.LeaveTypeDetailList[i].Count</label>
            </div>
        }
    }
    else
    {
        <p>No leave details available</p>
    }
</div>

