﻿@model IEnumerable<CustomModels.Collection.LeaveViewModel>

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1 class="page-title">
        Leaves
    </h1>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter card-table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StartingDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndingDate)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                Added By
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Note)
                            </th>
                            <th>
                                <b>Actions</b>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        @item.StartingDate.ToString("dd-MMM-yy")
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @item.EndingDate.ToString("dd-MMM-yy")
                                    </div>
                                </td>
                                @*<td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </div>
                                </td>*@
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.AddedBy.UserName)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </div>
                                </td>
                                <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
}
@section Styles{
    @Styles.Render("~/Content/datatable")
}
<script>
    $(function () {
        $("#myTable").DataTable()
        //$("#main-container").css("max-width", "100%");
    });
</script>