﻿@model CustomModels.Collection.RegisterViewModel

<div class="row col-md-12">
    @for (var i = 0; i < Model.LeaveDetail.LeaveTypeDetailList.Count(); i++)
    {
        if (Model.LeaveDetail.LeaveTypeDetailList[i].Type == EnumLibrary.LeaveType.Any)
        {
            @Html.HiddenFor(n => Model.LeaveDetail.LeaveTypeDetailList[i].Count)
            @Html.HiddenFor(n => Model.LeaveDetail.LeaveTypeDetailList[i].Type)
            continue;
        }
        <div class="form-group col-md-4">
            <span class="control-label col-md-4">@Model.LeaveDetail.LeaveTypeDetailList[i].Type.ToString()</span>
            <div class="col-md-8">
                @Html.TextBoxFor(model => Model.LeaveDetail.LeaveTypeDetailList[i].Count, new { @class = "form-control leaveType" })
                @Html.ValidationMessageFor(model => @Model.LeaveDetail.LeaveTypeDetailList[i].Count, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(n => Model.LeaveDetail.LeaveTypeDetailList[i].Type)
        </div>

    }

</div>
<script>
    $(function () {
        $("body").off("change", ".leaveType");
            $("body").on("change", ".leaveType", function () {
                var element = this;
                var employeeType = $("#employeeType").val();
                var userId = "";
                var leaveType = element.parentElement.parentElement.children[2].value;
                var value = element.value;
                $.ajax({
                    url: "@Url.Action("ProcessRulesForSync", "Leave")",
                    data: { userId, leaveType, employeeType, value },
                    success: function (res) {
                        if (res != "true") {
                            $(element).next().html(res);
                            $("#submit").attr("disabled", "disabled");
                        }
                        else {
                            $(element).next().html("");
                            $("#submit").removeAttr("disabled");
                        }
                    }
                })
            });
    });
            
</script>

