﻿@model CustomModels.Collection.LeaveDetailViewModel
@using AttendanceSystem.Models;

@{
    ViewBag.Title = "SyncLeaves";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var companyId = Singleton.Instance.CompanyId;
}

<h2>Sync Leaves</h2>


@using (Html.BeginForm("SyncLeaves", "Leave", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 row">
        <div class="form-horizontal col-md-9">
            <h4 class=" pl-5 pt-5">Leave Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12 row">

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Branch</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(n => n.BranchId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "branch", @class = "form-control" })

                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Department</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(n => n.DepartmentId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "department", @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Schedule</label>
                    <div class="col-md-8">
                        <select name="partTime" id="partTime" class="form-control">
                            <option value="0" selected>Permanant</option>
                            <option value="1">Part Time</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-8">Employee</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(n => n.EmployeeId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "employee", @class = "form-control" })
                    </div>
                </div>

                @for (var i = 0; i < Model.LeaveTypeDetailList.Count(); i++)
                {
                    if (Model.LeaveTypeDetailList[i].Type == EnumLibrary.LeaveType.Any)
                    {
                        @Html.HiddenFor(n => n.LeaveTypeDetailList[i].Count)
                        @Html.HiddenFor(n => n.LeaveTypeDetailList[i].Type)
                        continue;
                    }

                    <div class="col-md-6 form-group">
                        <label class="label-left control-label col-md-8">@Model.LeaveTypeDetailList[i].Type</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(n => n.LeaveTypeDetailList[i].Count, new { @class = "form-control leaveType" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                        @Html.HiddenFor(n => n.LeaveTypeDetailList[i].Type)
                    </div>
                }


                <div class="col-md-12 form-group">
                    <label class="label-left control-label col-md-8">Description</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(n => n.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-10">
                        <input type="submit" value="Create" id="submit" class="btn btn-default float-right" />
                    </div>
                </div>

            </div>


        </div>

        <div class="col-md-3 mt-9">
            <div class="col-md-12 row"  id="detail-sidebar">

            </div>

        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/CustomScripts/select2.methods.js"></script>
<script>
        $(function () {
            InitializeSelect2();
            $("body").on("change", "#employee", function () {
                $("#detail-sidebar").load("@Url.Action("GetLeaveDetailForLeaveCreation","Leave")", { employeeId: $("#employee").val() });
            });

            $("body").on("change", ".leaveType", function () {
                var element = this;
                var userId = $("#employee").val();
                var leaveType = element.parentElement.parentElement.children[2].value;
                var value = element.value;
                var employeeType = 0;
                $.ajax({
                    url: "@Url.Action("ProcessRulesForSync", "Leave")",
                    data: { userId, leaveType, employeeType, value },
                    success: function (res) {
                        if (res != "true") {
                            $(element).next().html(res);
                            $("#submit").attr("disabled", "disabled");
                        }
                        else {
                            $(element).next().html("");
                            $("#submit").removeAttr("disabled");
                        }
                    }
                })
            });
        });

        //
        //Functions
        function InitializeSelect2() {
            var pageSize = 20;
            var companyId = "@companyId";
            var optionListUrl = '@Url.Action("Company", "Report")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically


            var id = "#branch";
            var url = "@Url.Action("Branch", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    company: companyId
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#department";
            var url = "@Url.Action("Department", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    branch: $("#branch").val()
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#employee";
            var url = "@Url.Action("Employee", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    department: $("#department").val(),

                }

            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)

        }

</script>