﻿@model CustomModels.Collection.RegisterViewModel
@using CustomModels.Collection;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole> roles = new List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>();
    var check = TempData["action"] != null ? TempData["action"].ToString() : "Edit";
    if (TempData["roles"] != null) { roles = (List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)TempData["roles"]; }
    Guid departmentId = new Guid();

    if (Model != null)
    {
        departmentId = Model.DepartmentId != null ? Model.DepartmentId : new Guid();
    }

    var schedules = TempData["schedules"] != null ? (List<Schedule>)TempData["schedules"] : new List<Schedule>();

    var branchList = TempData["branchList"] != null ? (List<Branch>)TempData["branchList"] : new List<Branch>();

}

<h2>@check</h2>

@using (Html.BeginForm(check, "Account", FormMethod.Post, new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-container">
        <h4 class="mt-5 ml-5">@check Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row col-md-12">

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (check != "Edit")
            {
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.Password)
            }

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.BranchCode, new SelectList(branchList, "Id", "Name"), "Select Branch", htmlAttributes: new { @class = "form-control", @id = "branch" })
                    @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @*@Html.DropDownListFor(model => model.BranchCode, new SelectList(branchList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })*@
                    <select class="form-control" id="department" name="DepartmentId"></select>
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.MachineId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MachineId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-md-4">Full Time</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Permanant, new { htmlAttributes = new { id = "permanant" } })
                    @Html.ValidationMessageFor(model => model.Permanant, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  working-hours col-md-6">
                @Html.LabelFor(model => model.WorkingHours, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @*<input type="time" name="WorkingHours" placeholder="---Select Time---" class="form-control working-hours" />*@
                    <div class="row col-md-10">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control", placeholder = "Hours", value = -1 } })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Minutes, new { htmlAttributes = new { @class = "form-control", placeholder = "Minutes" } })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHours, "", new { @class = "text-danger working-hours" })
                </div>
            </div>

            <div class="form-group schedule col-md-6">
                <span class="control-label col-md-4">Schedule</span>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.ScheduleId, new SelectList(schedules, "Id", "Name"), "---Select---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ScheduleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="control-label col-md-4">Role</span>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Roles, new SelectList(roles, "Name", "Name"), "---Select---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="control-label col-md-4">Employee Type</span>
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(model => model.Type, "---Select---", new { @class = "form-control", id = "employeeType" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (check != "Edit")
            {
                @Html.Action("LeaveDetailCreatePartial", "Leave")
            }
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Address.Area, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Address.Area, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.Area, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Address.Street, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Address.House, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Address.House, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.House, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12 float-right">
                    <input type="submit" id="submit" value="@check" class="btn btn-default float-right" />
                </div>
            </div>
        </div>



    </div>
}

<div>
    @if (Model != null)
    {
        @Html.ActionLink("Back to List", "Index1", new { id = Model.DepartmentId })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")

    }

</div>
<script>
    var SelectDepartment="@departmentId";
    $(document).ready(
        function () {
            $(".working-hours").show();
            $(".schedule").hide();
            if ($("#permanant").is(":checked") == true) {
                $(".working-hours").hide();
                $(".schedule").show();
            }
            $("#permanant").on("click", function () {
                if ($("#permanant").is(":checked") == true) {
                    $(".working-hours").hide();
                    $(".schedule").show();
                    $("#Hours").val(1);
                    $("#Minutes").val(1);
                }
                else {
                    $(".working-hours").show();
                    $(".schedule").hide();
                }
            });
            if ($("#branch").val() != "") {
                LoadDepartments();

            }

            $("#branch").on("change", function () {
                LoadDepartments();
            });
        });
    function LoadDepartments()
    {
        $.ajax({
            url: "/Department/DepartmentList",
            dataType: "json",
            type: "post",
            data: { id: $("#branch").val() },
            success: function (data) {
                $("#department").empty();
                for (var i = 0; i < data.length; i++) {
                    if (SelectDepartment == data[i].Id) {
                        $('#department').append('<option selected value="' + data[i].Id + '">' + data[i].Name + '</option>');
                    }
                    else {
                        $('#department').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                    }
                }
            }
        });
    }
</script>