﻿@model IEnumerable<CustomModels.Collection.RegisterViewModel>

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";

    ViewBag.Title = "Index";
    var departmentId = TempData["departmentId"] != null ? Guid.Parse(TempData["departmentId"].ToString()) : new Guid();
}


<div class="page-header">
    <h1 class="page-title">
        Index
    </h1>
</div>
<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Company Manager"))
    {
        @Html.ActionLink("Create New", "Register")
    }
</p>

<div class="row row-cards row-deck mt-5">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>
                            <th>
                                Dept
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MachineId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Account", new { id = item.Id })" data-toggle="tooltip" title="Edit employee"><span class="m-xl-2 fa fa-edit"></span></a>

                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <a href="@Url.Action("Delete", "Account", new { id = item.Id })" data-toggle="tooltip" title="Delete employee"><span class="m-xl-2 fa fa-trash"></span></a>
                                    }
                                    <a href="@Url.Action("ViewLeave", "Leave", new { id = item.Id })" data-toggle="tooltip" title="Leaves"><span class="m-xl-2 fa fa-envelope"></span></a>

                                    <a href="@Url.Action("Index", "Attendance", new { id = item.Id })" data-toggle="tooltip" title="Attendance"><span class="m-xl-2 fa fa-file"></span></a>

                                    <a href="@Url.Action("ResetUserPassword", "Account", new { id = item.Id, departmentId = item.DepartmentId })" data-toggle="tooltip" title="Reset password"><span class="m-xl-2 fa fa-refresh"></span></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
}
@section Styles{
    @Styles.Render("~/Content/datatable")
}
<script>
    $(function () {
        $("#myTable").DataTable()
        //$("#main-container").css("max-width", "100%");
    });
</script>