﻿@model CustomModels.Collection.ResetUserPassword

@{
    ViewBag.Title = "ResetUserPassword";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var departmentId = Session["departmentId"] != null ? Guid.Parse(Session["departmentId"].ToString()) : new Guid();
}

<h2>Reset User Password</h2>

@using (Html.BeginForm("ResetUserPassword", "Account", FormMethod.Post, new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-container">
        <h4 class="mt-5 ml-5">Enter new password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12 row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group col-md-6">

                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12 float-right">
                    <input type="submit" value="Create" class="btn btn-default float-right" />
                </div>
            </div>

        </div>






    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index1", new { id = departmentId })
</div>
