﻿@model CustomModels.Collection.CompanyPolicy

@{
    ViewBag.Title = "AddPolicy";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var companyId = Session["id"] != null ? Guid.Parse(Session["id"].ToString()) : new Guid();
}

<h2>Add Policy</h2>

@using (Html.BeginForm("AddPolicy", "Company", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class=" pl-5 pt-5">Company Policy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default float-right" />
                </div>
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "PolicyIndex", new { id = companyId })
</div>
