﻿@model CustomModels.Collection.CompanyViewModel

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Company", FormMethod.Post, new { enctype = "multipart/form-data",  @class = "card"  }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class=" pl-5 pt-5">Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        <div class="col-md-12 row">
            <div class="col-md-6 row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6 row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.LogoUrl, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <input type="file" name="Logo" id="Logo" value="" placeholder="Upload logo" class="form-control" />
                    @Html.ValidationMessageFor(model => model.LogoUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default float-right" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
