﻿@model CustomModels.Collection.CompanyPolicy

@{
    ViewBag.Title = "DeletePolicy";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>DeletePolicy</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4 class=" pl-5 pt-5">CompanyPolicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
