﻿@model IEnumerable<CustomModels.Collection.CompanyPolicy>

@{
    ViewBag.Title = "PolicyIndex";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var companyId = TempData["companyId"] != null ? Guid.Parse(TempData["companyId"].ToString()) : new Guid();
}
<div class="page-header">
    <h1 class="page-title">
        PolicyIndex
    </h1>
</div>

<p>
    @Html.ActionLink("Create New", "AddPolicy", new { id = companyId })
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditPolicy", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" }) 
                                    @Html.ActionLink("Delete", "DeletePolicy", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Company", "Index")
</p>
