﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";

}

<h2>Import Employees</h2>
<script>

    $(document).ready(function () {
        $('#btnUploadFile').on('click', function () {
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }
            // Make Ajax request with the contentType = false, and procesDate = false
            debugger;
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/ExcelImport/Index",
                contentType: false,
                processData: false,
                data: data,
                
                success: function (e) {
                    if (e) {
                        window.location.href ="@Url.Action("Index", "Home", null)";
                    }
                    else {
                        window.location.href ="@Url.Action("Account","Error",null)";
                    }
                }
            });
            debugger;
            ajaxRequest.done(function (xhr, textStatus) {
                
                // Do other operation
            });
        });
    });
</script>
<div class="col-md-12 row">

    <div class="col-md-6">
        <div class="col-md-12 form-group">
            <div class="col-md-8">
                <input type="file" class="form-control" name="FileUpload1" id="fileUpload" /><br />
            </div>

        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3">
                <input id="btnUploadFile" class="btn btn-block float-left" type="button" value="Upload File" />
            </div>

        </div>

    </div>

</div>
