﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.absent {
    text-align: center;
    color: orange;
    font-weight: bold;
}

.holiday {
    text-align: center;
    color: red;
    font-weight: bold;
}

.leave {
    text-align: center;
    color: green;
    font-weight: bold;
}

.filters-container {
    background-color: #eee;
    padding: 15px;
}

.form-container {
    background-color: #eee;
    padding: 15px;
}
/* http://docs.jquery.com/UI/Autocomplete#theming*/
.ui-autocomplete {
    position: relative;
    cursor: default;
    background: #ffffff;
}

/* workarounds */
html .ui-autocomplete {
    width: auto;
    /*float:left;*/
}
/* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style: none;
    padding: 20px;
    margin: 20px;
    display: block;
    float: left;
}

.ui-menu .ui-menu {
    margin-top: 3px;
    display: block;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: auto;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: bolder;
    margin: -1px;
}


