﻿@model CustomModels.Collection.AttendancePolicy

@{
    ViewBag.Title = "AddSchedulePolicy";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>AddSchedulePolicy</h2>

@using (Html.BeginForm("AddSchedulePolicy", "Schedule", FormMethod.Post, new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="mt-5 ml-5">AttendancePolicy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12 row">
            <div class="col-md-6">

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Early, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Early, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Early, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Late, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Late, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Late, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group col-md-12">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default float-left" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
