﻿@model CustomModels.Collection.UserScheduleViewModel
@using CustomModels.Collection;

@{
    ViewBag.Title = "EditUserSchedule";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var schedules = TempData["schedules"] != null ? (List<Schedule>)TempData["schedules"] : new List<Schedule>();
}
<script src="~/Scripts/jquery.schedule.js"></script>
<link href="~/Content/jquery.schedule.min.css" rel="stylesheet" />
<link href="~/Content/jquery.schedule-demo.min.css" rel="stylesheet" />


@using (Html.BeginForm("EditUserSchedule", "Schedule", FormMethod.Post, new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="ml-5 mt-5">Edit Schedule</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12 row">

            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-md-12">
                    <div class="control-label col-md-4"><b>Schedule</b></div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ScheduleId, new SelectList(schedules, "id", "value"), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScheduleName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group col-md-12">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-default float-right" />
                </div>
            </div>

        </div>



    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
