﻿@model IEnumerable<CustomModels.Collection.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Schedule")
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Schedule", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                                    @Html.ActionLink("Add Policy", "AddSchedulePolicy", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
