﻿@model CustomModels.Collection.ScheduleDetail

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    if (ViewBag.id != null)
    {
        var scheduleId = ViewBag.id;
    }

}
<script src="~/Scripts/jquery.schedule.js"></script>
<link href="~/Content/jquery.schedule.min.css" rel="stylesheet" />

<div class="container form-horizontal">
    <h1 id="modalHeading">Add Schedule</h1>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Schedule Name</label>
        <div class="col-md-8">
            <input type="text" name="id" id="id" value=@ViewBag.id hidden="hidden" />
            <input type="text" class="scheduleName form-control" name="scheduleName" id="scheduleName" value="" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="addSchedule">Add Schedule</button>
        </div>
    </div>
    <div class="form-group">

    </div>
</div>

<div id="schedule">

</div>

<script>

    $(document).ready(function () {
        var data = @Html.Raw(ViewBag.result);

        if ($("#id").val() != null && $("#id").val() != "") {
            $("#scheduleName").val(JSON.parse(data)["Name"]);
            $("#addSchedule").text("Update");
        }
        else {
            $("#addSchedule").text("Add Schedule");
        }


        //
        //Add schedule button
        $("#addSchedule").on("click", function (e) {

            var result = $("#schedule").jqs("export");

            var name = $("#scheduleName").val();

            var scheduleId = $("#id").val();

            var sched = { "name": name, "result": result, "scheduleId": scheduleId }
            var indexUrl = "@Url.Action("Index", "Schedule")"
            $.ajax({
                type: 'POST',
                dataType: 'text',
                data: JSON.stringify(sched),
                url: '/Schedule/AddSchedule',
                cache: false,
                success: function (e) {
                    console.log("Success");
                    window.location.href = indexUrl;
                },
                error: function (e) {
                    console.log("Error");
                }
            });
            $("#eventModal").modal("hide");
        });

        $("#schedule").jqs({
            mode: "edit", // read
            hour: 24, // 12
            periodDuration: 30, // 15/30/60
            data: (JSON.parse(data).schedules),
            periodOptions: true,
            periodColors: [],
            periodTitle: "",
            periodBackgroundColor: "rgba(82, 155, 255, 0.5)",
            periodBorderColor: "#2a3cff",
            periodTextColor: "#000",
            periodRemoveButton: "Remove",
            periodTitlePlaceholder: "Title",
            days: [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
            ],
            onInit: function (data) { },
            onAddPeriod: function (period, jqs) {
            },
            onRemovePeriod: function (period, jqs) {
            },
            onClickPeriod: function (event, period, jqs) {
            }

        });
    });

</script>