﻿@model CustomModels.Collection.UserScheduleViewModel

@{
    ViewBag.Title = "UserScheduleIndex";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";

}

<h2>Schedules</h2>

<div>
    <h4>UserScheduleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId}) |
    @Html.ActionLink("Back to List", "Index","Account", new { id = Model.DepartmentId})
</p>
