﻿
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">

            <div class="col-12 mt-3 mt-lg-0 text-center">
                Copyright © 2018 <a href=".">Centangle Interactive</a>. All rights reserved.
            </div>
        </div>
    </div>
</footer>

