﻿<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container full-width-container">

        <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link nav-item dropdown" data-toggle="dropdown"><i class="fe fe-file-text"></i> Report</a>

                        <ul class="dropdown-menu dropdown-menu-arrow" tabindex="-1">
                            <li class="dropdown-submenu">
                                <a href="#" class="multi-level-dropdown dropdown-item">Attendance<span class="fa fa-caret-right pull-right"></span></a>

                                <ul class="dropdown-menu" tabindex="-1">
                                    <li>
                                        <a href="@Url.Action("Index", "Report", new { reportType = 0})" class="dropdown-item">Daily</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Report", new { reportType = 1})" class="dropdown-item">Weekly</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Report", new { reportType = 2})" class="dropdown-item">Monthly</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Report", new { reportType = 3})" class="dropdown-item">Monthly Consolidated</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="@Url.Action("LeaveDetailReport", "Report")" class="dropdown-item" tabindex="0">Leave</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Company Manager") || User.IsInRole("Branch Manager"))
                {

                    <li class="nav-item dropdown">
                        <a href="" class="nav-link" data-toggle="dropdown"><i class="fe fe-file"></i> Leaves</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="@Url.Action("Create", "Leave")" class="dropdown-item ">Create</a>
                            <a href="@Url.Action("Index", "Leave")" class="dropdown-item ">View</a>
                            @*<a href="@Url.Action("CreateRuleDetail", "Leave")" class="dropdown-item ">Rules</a>
                                <a href="@Url.Action("AssignRules", "Leave")" class="dropdown-item ">Map Rules</a>*@
                            <a href="@Url.Action("SyncLeaves", "Leave")" class="dropdown-item ">Leave Detail</a>
                            <a href="@Url.Action("Index", "EarnedLeave")" class="dropdown-item ">Earned Leaves</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="@Url.Action("CreateManually", "Attendance")" class="nav-link"><i class="fe fe-file-text"></i> Manual Entry</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="@Url.Action("Index", "Company")" class="nav-link"><i class="fe fe-file"></i> Company</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-git-branch"></i> Branch</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="@Url.Action("Create", "Branch")" class="dropdown-item ">Create</a>
                            <a href="@Url.Action("Index", "Branch")" class="dropdown-item ">View</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-list"></i> Department</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="@Url.Action("Create", "Department")" class="dropdown-item ">Create</a>
                            <a href="@Url.Action("Index", "Department", new { id = "", individual = false })" class="dropdown-item ">List of Departments</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Calendar", "NationalHolidays")" class="nav-link"><i class="fe fe-calendar"></i> Holidays</a>
                    </li>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Schedule")" class="nav-link"><i class="fe fe-clock"></i> Schedule</a>
                    </li>


                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-list"></i> Users</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="@Url.Action("Register", "Account")" class="dropdown-item ">Create</a>
                            <a href="@Url.Action("Index", "Account")" class="dropdown-item ">View</a>
                            <a href="@Url.Action("Index", "ExcelImport")" class="dropdown-item ">Import Users</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-list"></i> Machines</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="@Url.Action("Create", "Machine")" class="dropdown-item ">Create</a>
                            <a href="@Url.Action("Index", "Machine")" class="dropdown-item ">View</a>
                        </div>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>

<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0% !important;
            left: 100% !important;
            margin-top: -1px !important;
        }
</style>

<script>
    $(function () {
        $('.dropdown-submenu a.multi-level-dropdown').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>