﻿@using AttendanceSystem.Models;
@{
    var logoUrl = "";
    if (User.Identity.IsAuthenticated && Singleton.Instance.LogoUrl != null)
    {
        logoUrl = Singleton.Instance.LogoUrl;
    }
    else
    {
        logoUrl = "/Images/Company_Logo/Centangle.png";
    }
}
<div class="header py-4">
    <div class="container full-width-container">
        <div class="d-flex">
            <a class="header-brand" href='@Url.Action("Index","Home")'>
                <img src="@logoUrl" class="header-brand-img" height="60" width="60" alt="tabler logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                @Html.Partial("~/Views/Shared/TablerLayout/_LoginPartial.cshtml")
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
