﻿@using Microsoft.AspNet.Identity
@using System.Web.Security;
@using AttendanceSystem.Models;
@{

}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                @*<span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>*@
                <span class="ml-2 d-none d-lg-block">
                    <span class="text-default">
                        @User.Identity.GetUserName()
                    </span>
                    <small class="text-muted d-block mt-1">@Singleton.Instance.UserRole</small>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" data-toggle="dropdown">

                <a class="dropdown-item" onclick="$('#logoutForm').submit();" href="#">
                    <i class="dropdown-icon fe fe-log-out"></i>Log off
                </a>
            </div>
        </div>
    }
}
else
{
    <div>
        <span class="ml-2 pt-5 d-none d-lg-block">
            <span class="text-default">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style="text:bold;" })</span>
        </span>
    </div>
}