﻿<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Dashboard
            </h1>
        </div>
        <div class="row row-cards">

            <div class="col-md-12">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Chart title</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': '#1c3353',
                                                'data2': '#467fcf',
                                                'data3': '#7ea5dd',
                                                'data4': '#c8d9f1'
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                        </script>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Chart title</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie1" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie1', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': '#1c3353',
                                                'data2': '#467fcf',
                                                'data3': '#7ea5dd',
                                                'data4': '#c8d9f1'
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                        </script>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Chart title</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie2" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie2', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': '#1c3353',
                                                'data2': '#467fcf',
                                                'data3': '#7ea5dd',
                                                'data4': '#c8d9f1'
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                        </script>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Chart title</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie3" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie3', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': '#1c3353',
                                                'data2': '#467fcf',
                                                'data3': '#7ea5dd',
                                                'data4': '#c8d9f1'
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                        </script>
                    </div>


                </div>
            </div>

        </div>


        <div class="row row-cards row-deck">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                            <thead>
                                <tr>
                                    <th class="text-center w-1"><i class="icon-people"></i></th>
                                    <th>User</th>
                                    <th>Usage</th>
                                    <th class="text-center">Payment</th>
                                    <th>Activity</th>
                                    <th class="text-center">Satisfaction</th>
                                    <th class="text-center"><i class="icon-settings"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/26.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Elizabeth Martin</div>
                                        <div class="small text-muted">
                                            Registered: Mar 19, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>42%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 42%"
                                                 aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-visa"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>4 minutes ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.42" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">42%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/17.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Michelle Schultz</div>
                                        <div class="small text-muted">
                                            Registered: Mar 2, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>0%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 0%"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-googlewallet"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>5 minutes ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.0" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">0%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/21.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Crystal Austin</div>
                                        <div class="small text-muted">
                                            Registered: Apr 7, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>96%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 96%"
                                                 aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-mastercard"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>a minute ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.96" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">96%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/male/32.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Douglas Ray</div>
                                        <div class="small text-muted">
                                            Registered: Jan 15, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>6%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 6%"
                                                 aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-shopify"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>a minute ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.06" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">6%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/12.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Teresa Reyes</div>
                                        <div class="small text-muted">
                                            Registered: Mar 4, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>36%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 36%"
                                                 aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-ebay"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>2 minutes ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.36" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">36%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/4.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Emma Wade</div>
                                        <div class="small text-muted">
                                            Registered: Mar 20, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>7%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-red" role="progressbar" style="width: 7%"
                                                 aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-paypal"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>a minute ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.07" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">7%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/female/27.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Carol Henderson</div>
                                        <div class="small text-muted">
                                            Registered: Feb 22, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>80%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 80%"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-visa"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>9 minutes ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.8" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">80%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar d-block" style="background-image: url(../demo/faces/male/20.jpg)">
                                            <span class="avatar-status bg-green"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>Christopher Harvey</div>
                                        <div class="small text-muted">
                                            Registered: Jan 22, 2018
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <strong>83%</strong>
                                            </div>
                                            <div class="float-right">
                                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                            </div>
                                        </div>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-green" role="progressbar" style="width: 83%"
                                                 aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="payment payment-googlewallet"></i>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Last login</div>
                                        <div>8 minutes ago</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.83" data-thickness="3" data-color="blue">
                                            <div class="chart-circle-value">83%</div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

