﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/tabler")
    @RenderSection("Styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tabler")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="page">
        <div class="page-main">
            @Html.Partial("~/Views/Shared/TablerLayout/_HeaderPartial.cshtml")
            <div class="my-3 my-md-5">
                <div class="container">
                    @RenderBody()
                </div>
            </div>

        </div>
        @Html.Partial("~/Views/Shared/TablerLayout/_FooterPartial.cshtml")
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
</body>

</html>
