﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/jq")
    @Styles.Render("~/Content/jqCss")
    @Scripts.Render("~/bundles/modernizr")

   
</head>
<body>
    @Html.Partial("_SidebarPartial")
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.Partial("_NavbarPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Centangle Interactive</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
