﻿@using AttendanceSystem.Models;

@{
    var logoUrl = "";
    if (User.Identity.IsAuthenticated)
    {
        logoUrl = Singleton.Instance.LogoUrl;
    }
    else
    {
        logoUrl = "Images/Company_Logo/Centangle.png";
    }
}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button aria-controls="bs-navbar" id="menu-toggle" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar"
                data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
        </button>
        <a href="Index"> <img src="~/@logoUrl" width="60" alt="Company Logo" /></a>

        @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    </div>
    <div class="navbar-collapse collapse bar">
      
        @Html.Partial("_LoginPartial")
    </div>
</div>
