﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")



    @*<script src="~/Scripts/fullcalendar.min.js"></script>*@
    @using CustomModels.Collection;
  
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
       
        @Html.Partial("_NavbarPartial")
    </div>
    <div id="wrapper">
        <button aria-controls="bs-navbar" id="menu-toggle" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar"
                data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
        </button>
        @Html.Partial("_SidebarPartial")
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Centangle Interactive</p>
        </footer>
    </div>

                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
</body>
</html>
