﻿@*<link href="~/Content/themes/CustomCss/Sidebar.css" rel="stylesheet" />
    <link href="~/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="~/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js">

    </script>

    <div class="wrapper">

        <nav id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>Collapsible Sidebar</h3>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Toggle Sidebar
            </button>
        </div>

    </div>*@
<link href="~/Content/simple-sidebar.css" rel="stylesheet">

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Report", "Index", "Report")</li>
        }
        @if (User.IsInRole("Administrator") || User.IsInRole("Company Manager") || User.IsInRole("Branch Manager"))
        {

            <li>@Html.ActionLink("Leaves", "Index", "Leave")</li>
            <li>@Html.ActionLink("Add Manual Entry", "CreateManually", "Attendance")</li>
            <li>@Html.ActionLink("Company", "Index", "Company")</li>
            <li>@Html.ActionLink("Branch", "Index", "Branch")</li>
            <li>@Html.ActionLink("Department", "Index", "Department")</li>
            <li>@Html.ActionLink("Holidays", "Calendar", "NationalHolidays")</li>

        }

        @if (User.IsInRole("Administrator"))
        {
            <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
            <li>@Html.ActionLink("Upload Users", "Index", "ExcelImport")</li>
        }
    </ul>
</div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <!-- /#page-content-wrapper -->
