﻿@model CustomModels.Collection.NationalHoliday
@{
    Layout = "~/Views/Shared/TablerLayout/_FullCalendarPartial.cshtml";
    //Layout = null;
    ViewBag.Title = "Calendar";
}

<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/themes/CustomCss/Modal.css" rel="stylesheet" />
    <link href="~/Content/themes/CustomCss/Button.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/fullcalendar.helper.js"></script>*@

<h2>Calendar</h2>
<div id="calendar">
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <h3>Add Holiday</h3>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*<h1 id="modalHeading">Add Holiday</h1>
                    <p id="modalDescription">Fill the form to add a holiday.</p>
                    <hr>*@

                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Title</label>
                            <input type="text" name="eventTitle" class="form-control" id="eventTitle" value="" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" name="id" id="eventId" hidden="hidden" value="" />
                            <label class="control-label">Start Date</label>
                            <input type="date" name="startDate" class="form-control" id="startDate" value="" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">End Date</label>
                            <input type="date" name="endDate" class="form-control" id="endDate" />
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" id="eventDescription"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Permanent</label>
                                <input type="checkbox" name="permanent" id="eventPermanent" value="" />
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">

                    <button id="addEvent" class="btn btn-success" data-toggle="modal" data-target="#eventModal">Add</button>
                    <button id="updateEvent" class="btn btn-success" data-toggle="modal" data-target="#eventModal">Update</button>

                    <button id="deleteEvent" class="btn btn-danger" data-toggle="modal" data-target="#eventModal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("body").css("overflow", "visible");
        $("#eventModal").modal("hide");

        //
        //functionality of add button(event)
        $("#addEvent").on('click', function () {
            var calendar = $('#calendar').fullCalendar('getCalendar');

            var model = {
                //id: $('#eventId').val(),
                title: $("#eventTitle").val(),
                start: $("#startDate").val(),
                end: $("#endDate").val(),
                description: $("#eventDescription").val(),
                permanent: $('#eventPermanent').val()
            };
            $.ajax({
                type: 'post',
                url: '/NationalHolidays/CreateJson',
                data: model,
                dataType: 'json',
                cache: false,
                success: function (result) {
                    var newEvent = new Object();
                    newEvent.id = result;
                    newEvent.title = $("#eventTitle").val();
                    newEvent.start = $("#startDate").val();
                    newEvent.end = $("#endDate").val();
                    newEvent.allDay = true;
                    $('#calendar').fullCalendar('renderEvent', newEvent);
                    $("#eventModal").modal('hide');
                    location.reload();
                },
                error: function () {
                    alert('data not valid');
                }
            });
        });

        //
        // functionality of update button
        $('#updateEvent').on('click', function (e) {

            var updateEvent = {
                id: $('#eventId').val(),
                title: $('#eventTitle').val(),
                start: $('#startDate').val(),
                end: $('#endDate').val(),
                description: $('#eventDescription').val(),
                permanent: $("#eventPermanent").is(":checked")
            };

            $.ajax({
                url: '/NationalHolidays/EditJson',
                dataType: 'text',
                type: 'post',
                data: updateEvent,
                cache: false,
                success: function (result) {
                    $('#eventModal').modal('hide');
                    location.reload();
                }
            });

        });

        //
        //functionality of delete button
        $('#deleteEvent').on('click', function () {
            var deleteModel = {
                id: $('#eventId').val(),
            }
            $.ajax({
                type: 'post',
                dataType: 'text',
                url: '/NationalHolidays/DeleteJson',
                data: deleteModel,
                cache: false,
                success: function (result) {
                    $("#eventModal").modal("hide");
                    location.reload();
                    @*$(location).attr('href', '@Url.Action("Calendar", "NationalHolidays")');*@
                }
            });
        });

        //
        // functionality of close button
        $("#close").on('click', function () {
            $('#eventModal').modal('hide');
            $("#eventModal").on('hide.bs.modal', function () {
                alert('The modal is about to be hidden.');
            //hideModal();
            });
        });

        //full calendar main method.
        $('#calendar').fullCalendar({
            header:
            {
                left: 'today prev,next',
                center: 'title',
                right: 'agendaWeek,agendaDay,month'
            },
            defaultView: 'month',
            editable: true,
            selectable: true,
            allDaySlot: true,
            eventStartEditable: false,
            weekends: true,
            eventOverlap: false,
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '/NationalHolidays/GetJsonResult',
                    type: 'get',
                    dataType: 'json',
                    success(result) {
                        var events = [];
                        $.each(result, function (i, data) {
                            events.push({
                                id: data.Id,
                                title: data.Title,
                                description: data.Description,
                                end: data.FormattedEndDate,
                                start: data.FormattedStartDate,
                                allDay: true,

                            });
                        });
                        callback(events);
                    }
                });
            },
            dayClick: function (date, jsEvent, view) {
                debugger;
                $('#updateEvent').hide();
                $('#deleteEvent').hide();
                $('#addEvent').show();
                $('#modalHeading').html("Add Holiday");
                $('#modalDescription').html("Fill the form to add a holiday.");
                $("#startDate").val(date.format());
                //console.log($("#startDate").val(date.format()));
                $("#endDate").val(date.format());
                //console.log($("#endDate").val(date.format()));
                $("#Date").val(date.format());
                //console.log($("#Date").val(date.format()));
                $("#eventModal").modal("show");
                window.onclick = function (event) {
                    var modal = $('#eventModal');
                    if (event.target == modal) {
                        modal.modal('hide');
                    }
                }
            },
            eventClick: function (calEvent, jsEvent, view) {
                $('#modalHeading').html("Update Holiday");
                $('#modalDescription').html("Make your desired changes to update this holiday.");
                $('#addEvent').hide();
                $('#updateEvent').show();
                $('#deleteEvent').show();
                $("#eventId").val(calEvent.id);
                $("#startDate").val(moment(calEvent.start._i).format("YYYY-MM-DD"));
                $("#endDate").val(moment(calEvent.end._i, "YYYY-MM-DD").add(-1, 'days').format("YYYY-MM-DD"));
                $("#eventTitle").val(calEvent.title);
                $("#eventDescription").val(calEvent.description);
                $("#eventPermanent").val(calEvent.permanent);
                $("#eventModal").modal("show");
                //window.onclick = function (event) {
                //    var modal = $('#eventModal');
                //    if (event.target == modal) {
                //        $("#eventModal").modal("hide");
                //    }
                //}

            }
        });

        //Testing
      //  $("body").on("click", ".fc-day", function () {
            //var dateSelected = $.datepicker.formatDate("yyy-MM-dd", new Date($(this).attr("data-date")));
            //$('#updateEvent').hide();
            //$('#deleteEvent').hide();
            //$('#addEvent').show();
            //$('#modalHeading').html("Add Holiday");
            //$('#modalDescription').html("Fill the form to add a holiday.");
            //$("#startDate").val(dateSelected);
            //$("#endDate").val(dateSelected);
            //$("#Date").val(dateSelected);
            //$("#eventModal").modal("show");
            //window.onclick = function (event) {
            //    var modal = $('#eventModal');
            //    if (event.target == modal) {
            //        modal.modal('hide');
            //    }
            //}

            //alert(this);
       // });


    });
</script>
