﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/
        
        /jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


<!-- Full Calendar -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JQuery</title>
</head>
<body>
    <div>
        <div class="col-lg-6" id="hello" style="background-color:aqua">
            Hello
        </div>
        <div class="col-lg-6" id="world" style="background-color:cornflowerblue">
            World
        </div>
    </div>
    <div id="calendar">

    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#hello').mouseover(function () {
            $('#hello').hide();
        });


        $('#world').mouseover(function () {
            $('#hello').show();
        });
        $('#calendar').fullCalendar({

            theme: true,
            header: {
                left: '',
                center: '',
                right: ''
            },
            defaultView: 'agendaDay',
            editable: false,
            events: "/Calendar/GetEvents/"
        });
    });
</script>
