﻿@model CustomModels.Collection.AttendanceViewModel
@using CustomModels.Collection;
@using AttendanceSystem.Models;


@{
    ViewBag.Title = "CreateManually";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var users = TempData["users"] != null ? (List<CustomModels.Collection.RegisterViewModel>)TempData["users"] : new List<CustomModels.Collection.RegisterViewModel>();
    var companyId = Singleton.Instance.CompanyId;

}

<h2>Create Attendance</h2>

@using (Html.BeginForm("CreateManually", "Attendance", FormMethod.Post, htmlAttributes: new { @class = "card", @enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="mt-5 ml-5">Enter Attendance Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12 row">
            <div class="col-md-6 form-group">
                <label class="control-label col-md-4">Branch</label>
                <div class="col-md-12">
                    @*<input type="text" name="branchName" placeholder="Branch" id="branch" branch-value="" class="form-control" />*@
                    @Html.DropDownListFor(n => n.BranchId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "branch", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="control-label col-md-4">Department</label>
                <div class="col-md-12">
                    @*<input type="text" name="departmentName" placeholder="Department" id="department" department-value="" class="form-control" />*@
                    @Html.DropDownListFor(n => n.DepartmentId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "department", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="control-label col-md-4">Employee</label>
                <div class="col-md-12">
                    @*<input type="text" name="employee" employee-value="" placeholder="Employee" id="employee" class="form-control" />*@
                    @Html.DropDownListFor(n => n.UserId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "employee", @class = "form-control" })
                </div>
            </div>

            @*<div class="col-md-6 form-group">
                    <label class="label-left control-label col-md-4">Schedule</label>
                    <div class="col-md-12">
                        <select name="partTime" id="partTime" class="form-control">
                            <option value="0" selected>Permanant</option>
                            <option value="1">Part Time</option>
                        </select>
                    </div>
                </div>*@

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Error, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Error, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Error, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.EntryTime, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    <input type="datetime-local" name="EntryTime" id="EntryTime" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") class="form-control" />
                    @Html.ValidationMessageFor(model => model.EntryTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-sm-12">Attachment</label>
                <div class="col-sm-12">
                    <div class="col-md-6 row">
                        <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px; max-height: 120px;">
                        <div class="fileinput fileinput-new input-group col-sm-6" data-provides="fileinput">
                            <div data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                <input type="file" name="Image" id="Image" onchange="ProcessImage(this)">
                            </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = ""; document.getElementById("image-thumbnail").src = "";' data-dismiss="fileinput">Remove</a>
                        </div>
                        @Html.ValidationMessageFor(m=>m.Image, "", new { @class = "text-danger"})
                    </div>

                </div>
            </div>


            <div class="form-group col-md-12">
                <div class="col-md-12 float-right">
                    <input type="submit" value="Create" class="btn btn-default float-right" />
                </div>
            </div>
        </div>


    </div>

}

<script src="~/Scripts/CustomScripts/select2.methods.js"></script>
<script src="~/Scripts/CustomScripts/CustomErrorMessageDisplay.js"></script>

<script>
    $(function () {
        InitializeSelect2();

    });

     //
     //Functions

    function ProcessImage(element) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(element).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $(element).val("");
            DisplayErrorMessage("Image", "Allowed formats are: " + fileExtension.join(', '));
        }
        else {
            ShowImage(element);
            RemoveErrorMessage("Image");
        }
    }

        function ShowImage(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-thumbnail').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
            //var thumbnail = $("#Image").val();
            //$("#image-thumbnail").attr("src", thumbnail);

        }
        function InitializeSelect2() {
         var pageSize = 20;
        var optionListUrl = '@Url.Action("Company", "Report")';
        //
        //
        //Method which is to be called for populating options in dropdown //dynamically
            var companyId = "@companyId";
            var id = "#branch";
            var url = "@Url.Action("Branch", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    company: companyId
                }
                };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#department";
            var url = "@Url.Action("Department", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    branch: $("#branch").val()
                }
                };
         Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#employee";
            var url = "@Url.Action("Employee", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    department: $("#department").val(),

                }

            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)

        }

</script>