﻿@model CustomModels.Collection.AttendanceViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>Edit Attendance</h2>

@using (Html.BeginForm("Edit", "Attendance", FormMethod.Post, new { @class = "card" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="mt-5 ml-5">Attendance Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.EntryTime, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="datetime-local" name="EntryTime" id="EntryTime" value="@Model.EntryTime.ToString("yyyy-MM-ddThh:mm")" class="form-control" />
                        @Html.ValidationMessageFor(model => model.EntryTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Error, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Error, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Error, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-10 ">
                    <input type="submit" value="Save" class="btn btn-default float-right" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index",new { id = Model.UserId })
</div>
