﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var userId = TempData["userId"] != null ? TempData["userId"].ToString() : "";
    var departmentId = TempData["departmentId"] != null ? Guid.Parse(TempData["departmentId"].ToString()) : new Guid();

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateManually", new { id = userId })
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter card-table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                Machine Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Branch
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Error
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Employees", "Index1", "Account", new { id = departmentId }, "")
</p>


@section Scripts{
    @Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/moment.min.js"></script>
<script type="text/javascript">
    $(function () {

        // Setup - add a text input to each footer cell
        $('#myTable thead tr').clone(true).appendTo('#myTable thead');
        $('#myTable thead tr:eq(1) th').each(function (i) {
            if (i !== 5) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + $.trim(title) + '" />');
            }

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw(true);
                }
            });
            
        });
        
        var table = $("#myTable").DataTable({
            "ajax": {
                "url": "@Url.Action("GetAttendances", "Attendance")",
                "type": "POST",
                "dataType": "JSON",
            },
            "columns": [
                {"data": "MachineId", "name": "MachineId" },
                {"data": "UserName", "name": "UserName"},
                {"data": "BranchName", "name": "BranchName"},
                {"data": "DepartmentName", "name": "DepartmentName"},
                {
                    "data": "EntryTime", "name": "EntryTime",
                    render: function (d) {
                        return moment(d).format("D-MMM-YYYY HH:mm:ss");
                    }},
                {"data": "Error", "name": "Error"},
            ],
            "serverSide": true,
            "order": [0, "asc"],
            "processing": "true",
            "orderCellsTop": true,
            "fixedHeader": true,
            "language": {
                "processing":"processing... please wait"
            }
        });

    });
</script>

}
@section Styles{
    @Styles.Render("~/Content/datatable")
}
