﻿@model CustomModels.Collection.Machine
@using CustomModels.Collection;

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var check = Model != null ? "Edit" : "Create";
    var branchList = Session["branchList"] != null ? (List<Branch>)Session["branchList"] : new List<Branch>();
}

<h2>@check</h2>

@using (Html.BeginForm(check, "Machine", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 class="pt-5 pl-5">Machine</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12 row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.MacAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MacAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MacAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.IpAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.IpAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IpAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Branch</label>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.BranchId, new SelectList(branchList, "Id", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AppLink, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.AppLink, new { htmlAttributes = new { @class = "form-control", @placeholder = "http://localhost:8080/Machine" } })
                    @Html.ValidationMessageFor(model => model.AppLink, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.Id) @Html.HiddenFor(model => model.CompanyId) @Html.HiddenFor(model => model.CreatedOn) @Html.HiddenFor(model => model.CreatedBy)

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.StatusUpdateLink, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.StatusUpdateLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StatusUpdateLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Up, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Up)
                        @Html.ValidationMessageFor(model => model.Up, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="form-group col-md-12 float-right">
                    <input type="submit" value="@check" class="btn btn-default pull-right" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
