﻿@model IEnumerable<CustomModels.Collection.Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IpAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MacAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Port)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AppLink)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Up)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedOn)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IpAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MacAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Port)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppLink)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Up)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedOn)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { MA = HttpUtility.UrlEncode(item.MacAddress) }, new { @class = "btn btn-secondary btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { MA = HttpUtility.UrlEncode(item.MacAddress) }, new { @class = "btn btn-secondary btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>
