﻿@using EnumLibrary;
@model IEnumerable<CustomModels.ReportModels.DailyReportModel>
<link href="~/Content/themes/CustomCss/Pagination.css" rel="stylesheet" />
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Entry)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Exit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Arrival)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Departure)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkingHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Overtime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActualOverTime)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status == AttendanceStatus.Present && item.IsUserSpecific != true)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Entry)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Exit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Arrival)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Departure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkingHours)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Overtime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActualOverTimeString)
                                    </td>
                                </tr>
                            }
                            else if (item.IsUserSpecific)
                            {
                                <tr>
                                    <th>
                                        <b>Present</b>
                                    </th>
                                    <th>
                                        <b>Absent</b>
                                    </th>
                                    <th>
                                        <b>On Leave</b>
                                    </th>
                                    <th>
                                        <b>Early Arrival</b>
                                    </th>
                                    <th>
                                        <b>Late Arrival</b>
                                    </th>
                                    <th>
                                        <b>On Time Arrival</b>
                                    </th>
                                    <th>
                                        <b>Early Departure</b>
                                    </th>
                                    <th>
                                        <b>Late Departure</b>
                                    </th>
                                    <th>
                                        <b>On Time Departure</b>
                                    </th>
                                    <th>
                                        <b>Working Hours</b>
                                    </th>
                                    <th>
                                        <b>Overtime</b>
                                    </th>
                                    <th>
                                        <b>Actual Overtime</b>
                                    </th>

                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PresentCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AbsentCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnLeaveCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EarlyArrivalCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LateArrivalCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnTimeArrivalCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EarlyDepartureCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LateDepartureCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnTimeDepartureCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkingHoursString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OvertimeString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActualOverTimeString)
                                    </td>

                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @item.Entry.ToString("dd-MMM-yyyy")
                                    </td>

                                    @if (item.Status == AttendanceStatus.Absent)
                                    {
                                        <td colspan="6" class="absent">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    }
                                    else if (item.Status == AttendanceStatus.OnLeave)
                                    {
                                        <td colspan="6" class="leave">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="6" class="holiday">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    }
                                    <td>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>


