﻿@model IEnumerable<CustomModels.ReportModels.DailyReportPartTimeModel>
<link href="~/Content/themes/CustomCss/Pagination.css" rel="stylesheet" />

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkedHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Overtime)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status == EnumLibrary.AttendanceStatus.Present)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalHoursString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkedHoursString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OvertimeString)
                                    </td>
                                </tr>
                            }
                            else if (item.IsUserSpecific)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Presents)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Absents)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalHours)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkedHours)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Overtime)
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Presents)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Absents)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalHoursString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkedHoursString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OvertimeString)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </td>
                                    <td colspan="5">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
