﻿@model CustomModels.ReportModels.ReportDates
@using EnumLibrary;
@using AttendanceSystem.Models;
@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Index";
    var companyId = Singleton.Instance.CompanyId;
    string currentWeek = (DateTime.Now.DayOfYear / 7).ToString();
    string currentWeekOfCurrentYear = !(int.Parse(currentWeek) < 10) ? DateTime.Now.Year + "-W" + currentWeek : DateTime.Now.Year + "-W0" + currentWeek;
    int reportType = ViewBag.ReportType != null ? ViewBag.ReportType : 0;
    string heading = reportType == 0 ? "Daily Report" : reportType == 1 ? "Weekly Report" : reportType == 2 ? "Monthly Report" : "Monthly Consolidated";
}

<style>
    .ui-helper-hidden-accessible {
        display: none;
    }

    .label-left.control-label {
        text-align: left;
    }


    #pagination ul button {
        max-width: 102.27px !important;
    }

    .pagination-button {
        max-width: 102.27px !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>@heading</h2>
        <link href="~/Content/themes/CustomCss/ReportStyles.css" rel="stylesheet" />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="filters-container" style="width:100%">

            <div class="filters row col-md-12 pl-0">
                <div class="col-md-6 form-group pl-0">
                    <label class="label-left control-label col-md-2">Branch</label>
                    <div class="col-md-12">
                        @*<input type="text" name="branchName" placeholder="Branch" id="branch" branch-value="" class="form-control" />*@
                        @Html.DropDownListFor(n => n.Branch, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "branch", @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-6 form-group pl-0">
                    <label class="label-left control-label col-md-2">Department</label>
                    <div class="col-md-12">
                        @*<input type="text" name="departmentName" placeholder="Department" id="department" department-value="" class="form-control" />*@
                        @Html.DropDownListFor(n => n.Department, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "department", @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-6 form-group pl-0">
                    <label class="label-left control-label col-md-2">Employee</label>
                    <div class="col-md-12">
                        @*<input type="text" name="employee" employee-value="" placeholder="Employee" id="employee" class="form-control" />*@
                        @Html.DropDownListFor(n => n.User, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "employee", @class = "form-control" })

                    </div>
                </div>
                @*<div class="col-md-6 form-group pl-0">
                        <label class="label-left control-label col-md-2">Schedule</label>
                        <div class="col-md-8">
                            <select name="partTime" id="partTime" class="form-control">
                                <option value="0" selected>Permanant</option>
                                <option value="1">Part Time</option>
                            </select>
                        </div>
                    </div>*@
                @*<div class="col-md-6 form-group pl-0" id="SelectionDDL">
                        @Html.LabelFor(model => model.Selection, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EnumDropDownListFor(model => model.Selection, htmlAttributes: new { @class = "form-control", id = "reportType" })
                            @Html.ValidationMessageFor(model => model.Selection, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                @Html.HiddenFor(m => m.Selection, new { id = "reportType" })
                <div class="col-md-6 weeklyInput form-group pl-0">
                    @Html.LabelFor(model => model.Week, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="week" class="form-control" id="week" name="Week" value=@currentWeekOfCurrentYear placeholder="---Select Week---" />
                    </div>
                </div>
                <div class="col-md-6 monthlyInput form-group pl-0">
                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="month" class="form-control" id="month" name="Month" value=@DateTime.Now.ToString("yyyy-MM") placeholder="---Select Month---" />
                    </div>
                </div>

                <div class="col-md-6 form-group dailyInput pl-0">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <label></label>
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.Status, "None", new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 dailyInput form-group pl-0">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="datetime-local" name="StartTime" class="form-control" id="StartTime" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") />
                        @*@Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="col-md-6 dailyInput form-group pl-0">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="datetime-local" name="EndTime" id="EndTime" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") />
                        @*@Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="col-md-6 dailyInput form-group pl-0">
                    <div class="col-md-12">
                        @Html.EditorFor(m => m.GetPresentEmployees, new { @class = "form-control" })
                        <label class="label-left control-label col-md-10">Get present employees only</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 ">
                        <input type="button" value="Search" id="submit" class="btn btn-default pull-right">
                    </div>
                </div>
            </div>

            <div class="col-md-12 m-0 p-0 row">
                <div class="col-md-6 p-0">
                    <input type="button" value="Back" id="backToFilters" class="btn btn-default" />
                </div>
                <div class="col-md-6 p-0">
                    <button name="Export" class="btn btn-primary report-side-button" id="export" style="float:right" type="submit" formaction="@Url.Action("ExportExcelSheet", "Report", new { model = Model }, "")">Export to Excel</button>
                    <button name="Print" class="btn btn-primary report-side-button" id="print" style="float:right" type="button" onclick="javascript:window.print();">Print</button>
                </div>
            </div>


        </div>
    </div>
}
<div>
    <span>&nbsp;</span>
</div>
<div class="form-horizontal" id="attendanceSearchResult">
    <div id="reportDisplay" class="reportDisplay" name="reportDisplay">


    </div>
    <div class="col-md-12">
        <div class="pagination-div pl-0 row" id="pagination">

        </div>
    </div>

</div>
<script src="~/Scripts/CustomScripts/select2.methods.js"></script>
<script>
    $(document).ready(function () {
        $("#main-container").css("max-width", "100%");
        $("#reportType").val("@reportType");
        InitializeControls();
        InitializeSelect2();
        SetReportFilters($("#reportType").val());
        $("#reportType").change(function () {

            //daily
            if (this.value == "0") {
                $(".dailyInput").show(1000);
                $(".weeklyInput").hide(1000);
                $(".monthlyInput").hide(1000);
            }
            //weekly
            else if (this.value == "1") {
                $(".dailyInput").hide(1000);
                $(".weeklyInput").show(1000);
                $(".monthlyInput").hide(1000);
            }
            //monthly
            else if (this.value == "2") {
                $(".dailyInput").hide(1000);
                $(".weeklyInput").hide(1000);
                $(".monthlyInput").show(1000);
            }
            //monthly consolidated
            else if (this.value == "3") {
                $(".dailyInput").hide(1000);
                $(".weeklyInput").hide(1000);
                $(".monthlyInput").show(1000);
            }
            //none
            else {
                $(".dailyInput").hide(1000);
                $(".weeklyInput").hide(1000);
                $(".monthlyInput").hide(1000);
            }
        });

        //
        //Funnctionality of Submit Button
        $("#submit").on("click", function (e) {
            var newDate = new Date(0001, 01, 01);
            if ($("#reportType").val() == "0") {//Daily Report
                AddPagination();
                if ($("#employee").val() != "" && $("#employee").val() != null && $("#reportType").val() == "0") {
                    $("#pagination").hide(1000);
                }
                else {
                    $("#pagination").show(1000);

                }
                $("#export").show(1000);
                GetAttendanceResults(new Date($("#StartTime").val()), newDate, newDate);
            }
            else if ($("#reportType").val() == "1") {
                GetAttendanceResults(newDate, newDate, $("#week").val());
                $("#pagination").hide(1000);
                $("#export").show(1000);
            }
            else if ($("#reportType").val() == "2") {
                GetAttendanceResults(newDate, new Date($("#month").val()), newDate);
                $("#pagination").hide(1000);
                $("#print").show(1000);
            }
            else if ($("#reportType").val() == "3") {
                GetAttendanceResults(newDate, $("#month").val(), newDate);
                $("#pagination").hide(1000);
                $("#export").show(1000);
            }

            $("#backToFilters").show(1000);
            $(".filters").hide(1000);
            $("#submit").hide(1000);
            $("#reportDisplay").html('<div class = "col-md-12 text-center"><img src="/Images/excelImportLoader.png" alt="loader"/></div>');
            $("#reportDisplay").show(1000);
        });

        //
        //
        //Functionality of backToFilters Button
        $("#backToFilters").on("click", function (e) {
            $(".filters").show(1000);
            $("#reportDisplay").hide(1000);
            $("#submit").show(1000);
            $("#backToFilters").hide(1000);
            $(".report-side-button").hide(1000);
            $("#pagination").hide(1000);
        });


        //
        //Functionality of Pagination buttons
        $(document.body).on('click', '.dateSelected', function () {
            $("#reportDisplay").html('<div class = "col-md-12 text-center"><img src="/Images/excelImportLoader.png" alt="loader"/></div>').animate(3000);
            var startDate = new Date(this.textContent);
            GetAttendanceResults(startDate);
        });



    });

        //$("#sidebar").mCustomScrollbar({
        //    theme: "minimal"
        //});

        //$('#sidebarCollapse').on('click', function () {
        //    $('#sidebar').toggleClass('active');
        //});


    //
    //Functions

    function SetReportFilters(value) {
        //daily
        if (value == "0") {
            $(".dailyInput").show(1000);
            $(".weeklyInput").hide(1000);
            $(".monthlyInput").hide(1000);
        }
        //weekly
        else if (value == "1") {
            $(".dailyInput").hide(1000);
            $(".weeklyInput").show(1000);
            $(".monthlyInput").hide(1000);
        }
        //monthly
        else if (value == "2") {
            $(".dailyInput").hide(1000);
            $(".weeklyInput").hide(1000);
            $(".monthlyInput").show(1000);
        }
        //monthly consolidated
        else if (value == "3") {
            $(".dailyInput").hide(1000);
            $(".weeklyInput").hide(1000);
            $(".monthlyInput").show(1000);
        }
        //none
        else {
            $(".dailyInput").hide(1000);
            $(".weeklyInput").hide(1000);
            $(".monthlyInput").hide(1000);
        }
    }

    function AddPagination() {
        var paginationhtml = "";
        var startDate = new Date($("#StartTime").val());
        var endDate = new Date($("#EndTime").val());
        for (var start = startDate; start <= endDate; start.setDate(start.getDate() + 1)) {

            paginationhtml += '<button class="form-control m-0 pagination-button"><a class="dateSelected" href="#">' + $.datepicker.formatDate('MM dd, yy', new Date(start)) + '</a></button>';
        }
        $("#pagination").html(paginationhtml);
    }
    function InitializeControls() {
        $("#reportDisplay").hide();
        $(".weeklyInput").hide();
        $(".monthlyInput").hide();
        $("#pagination").show();
        //$("#pagination").toggle();
        $("#reportDisplay").toggle();
        $("#backToFilters").hide();
        $(".report-side-button").hide();
    }
    function GetAttendanceResults(date, month, week) {
        var url = "/Report/";

        if ($("#reportType").val() == "0")//Daily
        {
                url += "Daily";
        }
        else if ($("#reportType").val() == "1")//Weekly
        {
                url += "Weekly";
        }
        else if ($("#reportType").val() == "2")//Monthly
        {
                url += "Monthly";
        }
        else if ($("#reportType").val() == "3")//Monthly Consolidated
        {
            url += "MonthlyConsolidated";
        }
        var formattedDate = new Date(date);
        formattedDate = formattedDate.toLocaleString();
        //formattedDate.setHours(0 - formattedDate.getTimezoneOffset() / 60); //stringify changes timezone
        var postData;
        var end = null;

        if ($("#reportType").val() == "0") {
            end = new Date();
            var result = $("#EndTime").val();
            end = new Date(result);
            //end.setHours(0 - end.getTimezoneOffset() / 60);
            end = end.toLocaleString();
        }
        postData = {
            "Month": month,
            "Week": week,
            "Selection": 0,
            "Status": $("#Status").val(),
            "StartTime": formattedDate,
            "EndTime": end,
            "PartTime": $("#partTime").val(),
            "Company": ($("#company").val() == '') ? '' : $("#company").val(),
            "Branch": ($("#branch").val() == '') ? '' : $("#branch").val(),
            "Department": ($("#department").val() == '') ? '' : $("#department").val(),
            "User": ($("#employee").val() == '') ? '' : $("#employee").val(),
            "GetPresentEmployees": $("#GetPresentEmployees").prop("checked")
        }

        $.ajax({
            url: url,
            dataType: "text",
            type: "POST",
            data: JSON.stringify(postData),

        })
            .done(function (data) {
                $("#reportDisplay").html(data);
            });

    }
    function AutoCompleteAjaxRequest(url, postData, response) {
        $.ajax({
            url: url,
            type: "Post",
            dataType: "json",
            data: postData,
            success: function (data) {
                response($.map(data, function (item) {
                    return { label: item.Name, value: item.Name, Id: item.Id }
                }))
            }
        });
    }

    function InitializeSelect2() {
        var pageSize = 20;
        var companyId = "@companyId";
        var optionListUrl = '@Url.Action("Company", "Report")';
        //
        //
        //Method which is to be called for populating options in dropdown //dynamically

            var id = "#branch";
            var url = "@Url.Action("Branch", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    company: companyId
                }
                };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#department";
            var url = "@Url.Action("Department", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    branch: $("#branch").val()
                }
                };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#employee";
            var url = "@Url.Action("Employee", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    department: $("#department").val(),

                }

            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)

    }



</script>