﻿@model IEnumerable<CustomModels.Collection.LeaveDetailReportViewModel>
@using CustomModels.Collection;
@using EnumLibrary;


@{
    ViewBag.Title = "LeaveDetailReport";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<h2>Available Leaves Report</h2>
<div class="row row-cards row-deck mt-5">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Branch
                            </th>
                            <th>
                                Department
                            </th>

                            @foreach (var detail in Enum.GetNames(typeof(LeaveType)))
                            {
                                if (detail == EnumLibrary.LeaveType.Any.ToString())
                                {
                                    continue;
                                }
                                <th>
                                    @detail.ToString()
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                @if (item.LeaveTypeDetailList.Count() == 0)
                                {
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                }
                                @foreach (var detail in item.LeaveTypeDetailList)
                                {
                                    if (detail.Type == EnumLibrary.LeaveType.Any)
                                    {
                                        continue;
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => detail.Count)
                                    </td>
                                    //@Html.HiddenFor(m => item.Id)
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
}
@section Styles{
    @Styles.Render("~/Content/datatable")
}
<script>
    $(function () {
        $("#myTable").DataTable()
        $("#main-container").css("max-width", "100%");
    });
</script>
