﻿@model IEnumerable<System.Linq.IGrouping<string, CustomModels.ReportModels.DailyReportModel>>
@using EnumLibrary;


@{
    var check = Model.FirstOrDefault() != null ? Model.FirstOrDefault().FirstOrDefault() : null;
    var startDate = check != null ? Model.FirstOrDefault().Min(x => x.Entry) : DateTime.Now;
    var endDate = check != null ? Model.FirstOrDefault().Max(x => x.Exit) : DateTime.Now;
    var firstRecord = check != null ? check : new CustomModels.ReportModels.DailyReportModel();
}
<style>
    .remove-padding {
        padding: 0.5px !important;
    }

    .remove-x-scroll {
        max-width: 100%;
        overflow-x: hidden;
    }

    .table-responsive {
        font-size: 10px;
    }
</style>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            @foreach (var groupedListItem in Model)
            {
                <div class="col-md-12 pt-4 pb-4 row">
                    <div class="col-md-3">
                        @*<div><b>Machine Id: </b></div>*@
                        <div class="pr-2"><b>Name: </b>@groupedListItem.Max(x => x.Name)</div>
                    </div>
                    <div class="col-md-9">

                        <div class="float-right pr-2"><b>Presents: </b>@groupedListItem.Where(m => m.Status == AttendanceStatus.Present).Count()</div>
                        <div class="float-right pr-2"><b>Absents: </b>@groupedListItem.Where(m => m.Status == AttendanceStatus.Absent).Count()</div>
                        <div class="float-right pr-2"><b>Holiday: </b>@groupedListItem.Where(m => m.Status == AttendanceStatus.Holiday || m.Status == AttendanceStatus.NationalHoliday).Count()</div>
                        <div class="float-right pr-2"><b>Leave: </b>@groupedListItem.Where(m => m.Status == AttendanceStatus.OnLeave).Count()</div>
                        <div class="float-right pr-2"><b>Hrs Wrkd: </b>@groupedListItem.Sum(m => Math.Round(TimeSpan.Parse(m.WorkingHoursString).TotalHours, 2))</div>
                        <div class="float-right pr-2"><b>Overtime: </b>@groupedListItem.Sum(m => Math.Round(TimeSpan.Parse(m.OvertimeString).TotalHours, 2))</div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter card-table">
                        <thead>
                            <tr>
                                @{
                                    var index = 1;
                                }
                                <th>
                                </th>
                                @for (DateTime start = startDate; start <= endDate; start = start.AddDays(1), index++)
                                {
                                    <th class="remove-padding">@index</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>In</b> <br /> <b>Out</b> <br /> <b>Work</b> <br /> <b>Status</b>
                                </td>
                                @foreach (var groupedItem in groupedListItem)
                                {
                                    <td class="remove-padding" style="max-width:35px; min-width: 35px;">
                                        @if (@groupedItem.Entry.ToString("HH:mm") == "00:00" && @groupedItem.Exit.ToString("HH:mm") == "00:00")
                                        {
                                            <br /> <br /> <br />
                                        }
                                        else
                                        {
                                            @groupedItem.Entry.ToString("HH:mm")
                                            <br />
                                            @groupedItem.Exit.ToString("HH:mm")
                                            <br />
                                            @Math.Round(TimeSpan.Parse(groupedItem.WorkingHoursString).TotalHours, 2)
                                            <br />
                                        }
                                        @groupedItem.Status.ToString()

                                    </td>

                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
            }
        </div>
    </div>
</div>

