﻿@model IEnumerable<CustomModels.ReportModels.ConsolidatedReportPartTimeModel>

<p>

</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Presents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Absents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkedHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OverTime)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Presents)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Absents)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedTotalHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedWorkedHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedOvertime)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                </div>
            </div>
        </div>
    </div>
