﻿@model IEnumerable<CustomModels.ReportModels.ConsolidatedReportModel>

@*<p>
    Weekly Report
</p>*@
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Presents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Absents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NationalHolidays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Holidays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Leaves)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkedHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ScheduledHours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Late)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OverTime)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Presents)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Absents)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NationalHolidays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Holidays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Leaves)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedWorkedHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedScheduledHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedLate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormattedOvertime)

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>