﻿@using CustomModels.Collection;

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
}

<div class="col-md-12">
    <h3>Employees eligible for Earned Leaves.</h3>
</div>

@Html.Action("IndexPartial", "EarnedLeave", new EarnedLeaveViewModel())



@section Scripts{
    @Scripts.Render("~/bundles/datatable")
}
@section Styles{
    @Styles.Render("~/Content/datatable")
}