﻿@model CustomModels.Collection.EarnedLeaveAutomaticUpdationViewModel

<div class="row">
    <div class="col-md-12">
        <button class="col-md-1 float-right form-control" id="update-earned-leave-details">Update</button>
    </div>
</div>

<div class="row row-cards row-deck mt-5">
    <div class="col-12">
        <div class="card">
            <form action="@Url.Action("EarnedLeaveAutomaticUpdation","EarnedLeave")" method="post" id="earned-leave-form">
                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table" id="myTable">
                        <thead>
                            <tr>
                                <th class="no-sort">
                                    <input type="checkbox" name="checkbox" value="true" id="master-checkbox" checked />
                                </th>
                                <th>
                                    Employee
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Last Updation
                                </th>
                                <th>
                                    Cycles
                                </th>
                                <th>
                                    Leaves
                                </th>
                                <th>
                                    Earned
                                </th>
                                <th>
                                    Existing
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var item = 0; item < Model.EarnedLeavesList.Count(); item++)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => Model.EarnedLeavesList[item].Checked, new { @class = "list-checkbox" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].Employee.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].Rule.LeaveType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].StartingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].MissedCycles)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].Rule.Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].EarnedLeaveCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.EarnedLeavesList[item].ExistingLeaves)
                                    </td>
                                    @*@Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Employee.Id)*@
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Employee.Id)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.Id)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.IsCarriedOn)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.IsConsecutive)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.Value)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.LeaveType)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.RuleType)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Rule.Duration)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].EarnedLeaveCount)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].MissedCycles)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].StartingDate)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].ExistingLeaves)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].Checked)
                                    @Html.HiddenFor(modelItem => Model.EarnedLeavesList[item].EndingDate)
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#myTable").DataTable({
            aLengthMenu: [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "All"]
            ],

            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
        $("#main-container").css("max-width", "100%");

        //
        //functionality of update button
        $("body").off("click", "#update-earned-leave-details");
        $("body").on("click", "#update-earned-leave-details", function () {
            $("#earned-leave-form").submit();
        });

        //
        //functionality of master checkbox
        $("body").off("click", "#master-checkbox");
        $("body").on("click", "#master-checkbox", function () {
            var masterValue = $(this).prop("checked");
            if (masterValue == true) {

                $(".list-checkbox").val("true").prop('checked', true);

            }
            else
                $(".list-checkbox").val("false").prop('checked', false);
        });

        //
        //functionality of individual checkbox
        $("body").off("click", ".list-checkbox")
        $("body").on("click", ".list-checkbox", function () {
            console.log(this);
            if (this.checked)
                this.value = "true";
            else
                this.value = "false";
        });

        @*$("body").off("click", "#update-earned-leave-details");
            $("body").on("click", "#update-earned-leave-details", function () {
            var form = new FormData("#earned-leave-form");
            var serializedForm = $("#earned-leave-form").serialize();
            $.ajax({
                type: "POST",
                url: "@Url.Action("EarnedLeaveAutomaticUpdation","EarnedLeave")",
                data: serializedForm,
                dataType: "json",
                success: function (data) {
                    //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
                    // do what ever you want with the server response
                },
                error: function () {
                    alert('error handling here');
                }
            });
        });*@
    });
</script>

