﻿@model CustomModels.Collection.Department
@using CustomModels.Collection;
@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Edit";
    var branchList = TempData["branchList"] != null ? (List<Branch>)TempData["branchList"] : new List<Branch>();
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Department", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="pt-5 pl-5">Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.BranchCode, "Branch Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.BranchCode, new SelectList(branchList, "Id", "Name", Model.BranchCode), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 row">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-default float-right" />
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
