﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConvertObjectUsingReflection</title>
</head>
<body>
    <div> 
        the value is of type @ViewBag.Type and the value is : @ViewBag.Value;
    </div>
</body>
</html>
