﻿@model CustomModels.ReportModels.ReportDates
@using CustomModels.ReportModels;
@{
    ViewBag.Title = "Select2Prac";
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    var chartResultList = TempData["chartResultList"] != null ? (List<PieChartResult>)TempData["chartResultList"] : new List<PieChartResult>();
    string currentWeek = (DateTime.Now.DayOfYear / 7).ToString();
    string currentWeekOfCurrentYear = DateTime.Now.Year + "-W" + currentWeek;
}
<script src="~/Scripts/CustomScripts/c3.methods.js"></script>
<script src="~/Scripts/CustomScripts/select2.methods.js"></script>
<link href="~/Content/themes/CustomCss/PieChartFilterDropDown.css" rel="stylesheet" />
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Dashboard
            </h1>
        </div>
        <div class="filters container" hidden>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="label-left control-label col-md-2">Company</label>

                        <div class="col-md-10">
                            @*<input type="text" name="company" value="" placeholder="Company" company-value="" id="company" class="form-control" />*@
                            @Html.DropDownListFor(n => n.Company, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "company", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="label-left control-label col-md-2">Branch</label>
                        <div class="col-md-10">
                            @*<input type="text" name="branchName" placeholder="Branch" id="branch" branch-value="" class="form-control" />*@
                            @Html.DropDownListFor(n => n.Branch, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "branch", @class = "form-control" })

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="label-left control-label col-md-2">Department</label>
                        <div class="col-md-8">
                            @*<input type="text" name="departmentName" placeholder="Department" id="department" department-value="" class="form-control" />*@
                            @Html.DropDownListFor(n => n.Department, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "department", @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="label-left control-label col-md-2">Employee</label>
                        <div class="col-md-8">
                            @*<input type="text" name="employee" employee-value="" placeholder="Employee" id="employee" class="form-control" />*@
                            @Html.DropDownListFor(n => n.User, Enumerable.Empty<SelectListItem>(), "---Select---", new { @id = "employee", @class = "form-control" })

                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="date" name="StartTime" class="form-control" id="StartTime" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                        @*@Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "label-left control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="date" name="EndTime" id="EndTime" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                        @*@Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
            <div class="row col-md-10">
                <div class="form-group">
                    <div class=" col-md-12">
                        <input type="button" value="Submit" id="submit" class="btn btn-default pull-right">
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-cards">
            <div class="col-md-12">
                <style>
                    #graph-grid .col-sm-4:nth-child(3n) .dropdown-menu {
                        transform: translate3d(-250px, -260px, 0px) !important;
                    }
                </style>
                <div class="row" id="graph-grid">

                    @if (chartResultList != new List<PieChartResult>())
                    {
                        var i = 0;
                        foreach (var item in chartResultList)
                        {
                            var divId = "chart-donut" + i.ToString();

                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-sm-9">
                                            <h3 class="card-title">@item.Title</h3>
                                            @{var branchIdString = "branch" + i;
                                                var startTimeIdString = "StartTime" + i;
                                                var endTimeIdString = "EndTime" + i;
                                                var permanantIdString = "partTime" + i;
                                                var submitIdString = "submit" + i;
                                                var loaderIdString = "loader" + i;}
                                            <input type="hidden" id=@branchIdString name="BranchId" value="@item.BranchId" />
                                        </div>

                                        <div class="col-sm-3 dropdown pl-0">
                                                <button class="btn btn-azure dropdown-toggle" id="dropDownToggleButton-@i" href="#" onclick="InitializeSelect2(@i)" data-toggle="dropdown" style="background: #a10600;"><i class="fa fa-spinner fa-spin" id="@loaderIdString" hidden></i>Filters</button>                          
                                            <div class="dropdown-menu pie-chart pull-left" style="padding: 15px; padding-bottom: 10px;">
                                                <form method="post" action="login" accept-charset="UTF-8">
                                                    <div class="col-md-12">
                                                        <div class="row col-md-12 mb-5">
                                                            @Html.DropDownListFor(n => n.Department, Enumerable.Empty<SelectListItem>(), "--Department--", new { @id = "department" + i, @class = "form-control col-md-12", @style = "width: 100%" })
                                                        </div>
                                                        <div class="row col-md-12 mb-5">
                                                            @Html.DropDownListFor(n => n.User, Enumerable.Empty<SelectListItem>(), "--Employee--", new { @id = "employee" + i, @class = "form-control col-md-12", @style = "width: 100%" })
                                                        </div>
                                                        <div class="row col-md-12 mb-5">

                                                            <select id=@permanantIdString class="form-control">
                                                                <option value="0" selected>Permanant</option>
                                                                <option value="1">Part Time</option>
                                                            </select>

                                                        </div>
                                                        <div class="row col-md-12 mb-5">
                                                            <input type="date" name="StartTime" id=@startTimeIdString class="form-control col-md-6" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                                                            <input type="date" name="EndTime" id=@endTimeIdString class="form-control col-md-6" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                                                        </div>

                                                    </div>
                                                    <input class="btn btn-primary btn-block dropdown-toggle mb-4" type="button" id=@submitIdString onclick="setNewChartValues(@i)" value="Submit" data-toggle="dropdown" style="background: #a10600;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="@divId" style="height: 12rem;"></div>
                                    </div>
                                </div>
                                <script>
                                    generateDonutChart(@item.Presents, @item.Absents, @item.Leaves, "@divId");
                                    function setNewChartValues(buttonId) {
                                        var id = "#employee" + buttonId;
                                        var branchIdString = "#branch" + buttonId;
                                        var departmentIdString = "#department" + buttonId;
                                        var partTimeIdString = "#partTime" + buttonId;
                                        var employeeIdString = "#employee" + buttonId;
                                        var startTimeIdString = "#StartTime" + buttonId;
                                        var endTimeIdString = "#EndTime" + buttonId;
                                        var divIdString = "chart-donut" + buttonId;
                                        var loaderIdString = "#loader" + buttonId;
                                        var branchIdString
                                        var start = new Date();
                                        var result = $(startTimeIdString).val();
                                        start = new Date(result);
                                        start.setHours(0 - start.getTimezoneOffset() / 60);

                                        var end = new Date();
                                        var result = $(endTimeIdString).val();
                                        end = new Date(result);
                                        end.setHours(0 - end.getTimezoneOffset() / 60);
                                        var url = "@Url.Action("GetUpdatedChartResult", "Report")";

                                        postData = {

                                            "Selection": '0',
                                            "StartTime": start,
                                            "EndTime": end,
                                            "PartTime": $(partTimeIdString).val(),
                                            "Company": '',
                                            "Branch": ($(branchIdString).val() == '') ? '' : $(branchIdString).val(),
                                            "Department": ($(departmentIdString).val() == '') ? '' : $(departmentIdString).val(),
                                            "User": ($(employeeIdString).val() == '') ? '' : $(employeeIdString).val()
                                        }
                                        $.ajax({
                                            url: url,
                                            dataType: "text",
                                            type: "POST",
                                            data: JSON.stringify(postData),
                                            beforeSend: function () {
                                                $(loaderIdString).removeAttr("hidden");
                                            },
                                            success: function () {
                                                $(loaderIdString).attr("hidden", "hidden");
                                            }

                                        })
                                            .done(function (data) {
                                                var data1 = jQuery.parseJSON(data);
                                                generateDonutChart(data1.Presents, data1.Absents, data1.Leaves, divIdString);
                                            });
                                    }

                                </script>

                            </div>

                            i++;
                        }
                    }

                </div>
            </div>

        </div>

    </div>

</div>
<script>

        $(document).ready(function () {


            $(".showFilters").on("click", function (e) {
                $(".filters").removeAttr("hidden");
               // $(".showFilters").hide();
            });

            $("#submit").on("click", function () {
                $(".filters").attr("hidden","hidden");
            });
    });

        function InitializeSelect2(buttonId) {
         var pageSize = 20;
        var optionListUrl = '@Url.Action("Department", "Report")';
        //
        //
        //Method which is to be called for populating options in dropdown //dynamically

            var id = "#department" + buttonId;
            var branchId = "#branch" + buttonId;
            var url = "@Url.Action("Department", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    branch: $(branchId).val()
                }
                };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)


            var id = "#employee" + buttonId;
            var departmentIdString = "#department" + buttonId;
            var partTimeIdString = "#partTime" + buttonId;
            var url = "@Url.Action("Employee", "Report")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    department: $(departmentIdString).val(),
                }

            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize)

    }

</script>
