﻿@model CustomModels.Collection.Branch
@using CustomModels.Collection;

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Branch", FormMethod.Post, htmlAttributes:new { @class="card"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="mt-5 ml-5">Branch</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row col-md-12">

        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Address.Area, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.Area, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.Area, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Address.House, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.House, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.House, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>

        <div class="col-md-6">

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Address.Street, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="form-group col-md-12 row">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default float-right" />
            </div>
        </div>
    </div>
  
</div>
}

<div>
    @Html.ActionLink("Back to Branches", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
