﻿@model IEnumerable<CustomModels.Collection.Branch>

@{
    ViewBag.Title = "GetBranches";
   

}

<h2>Branches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) @*|
            @Html.ActionLink("Departments","../Department/Index")*@
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Company", "Index","Company",  new { }, "")
</p>