﻿@model IEnumerable<CustomModels.Collection.Branch>

@{
    Layout = "~/Views/Shared/TablerLayout/_TablerLayout.cshtml";

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address.House)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address.Street)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address.Area)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address.City)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address.House)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address.Street)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address.Area)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address.City)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" }) 
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })*@ 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" }) 
                                    @Html.ActionLink("Departments", "../Department/Index", new { id = item.Id, individual = true }, new { @class = "btn btn-secondary btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
